@import "../../partials/mixins";
@import "../../partials/global";

.main {
	&__container {
		@include desktop {
			@include flex(row, space-between, flex-start);
		}
		&--body {
			@include desktop {
				width: 65%;
				flex-grow: 1;
				border-right: $border-style;
			}
		}
		&--aside {
			@include tablet {
				width: 50%;
				max-width: 336px;
			}
			@include desktop {
				width: 35%;
				padding-left: 24px;
			}
		}
	}
}
