body {
	@include reset-margin-padding;
}

ul {
	@extend body;
	list-style: none;
}

a {
	text-decoration: none;
}

// Variables
$color-accent: #37ad00;
$color-light: #ffffff;
$color-dark: #202020;
$color-dark-control: #00000080;
$color-dark-control-hover: #00000082;

$color-cta-primary: #37ad00;
$color-cta-hover: #257500;

$color-label: #afafaf;
$color-nav-background: #202020;
$color-input-field-background: #111111;
$color-input-field-border: #e1e1e13f;

$border-style: 2px solid $color-input-field-border;

html {
	background-color: $color-dark;
}

// Extends

%button {
	border: 1px solid $color-cta-primary;
	background-color: $color-cta-primary;
	border-radius: 4px;
	color: $color-light;
	font-size: 0.9rem;
	font-weight: 600;
	height: 48px;
	text-transform: uppercase;
	text-align: center;
	transition: ease-in-out 0.3s;
	&:hover {
		background-color: $color-cta-hover;
		border-color: $color-cta-hover;
	}
}

// Container

.container {
	width: 90vw;
	margin: auto;
	@include tablet {
		width: 94vw;
	}
	@include desktop {
		width: 80vw;
	}
}
