@import '../../partials/mixins';
@import '../../partials/global';
@import '../../partials/typography';

.comments {
  &__block {
    @include flex(row, flex-start, flex-start);
    border-bottom: $border-style;
    padding: 24px 0;
    &:first-of-type {
      border-top: $border-style;
    }
    &:last-of-type {
      margin-bottom: 36px;
    }
    &-wrapper {
      display: inline-block;
      width: 48px;
      height: 48px;
      margin-right: 18px;
      margin-top: 18px;
      border-radius: 50%;
      overflow: hidden;
      transform: translateY(3px);
      min-width: 48px;
      margin-top: 0;
      background-color: #d8d8d8;
    }
    &-content {
      flex-grow: 1;
      @include tablet {
        margin-right: 36px;
      }
      &-head {
        @include flex(row, space-between, center);
        margin: 2px 0 16px 0;
        @include tablet {
          justify-content: flex-start;
          margin: 2px 0 8px 0;
        }
        &-name {
          @include mobile-h4-para-list-contact;
          font-weight: 600;
          margin: 0;
          @include tablet {
            @include desktop-h3-subheader;
            margin-right: 10px;
          }
        }
        &-timestamp {
          @include mobile-h5;
          color: $color-label;
        }
      }
      &-para {
        @include mobile-h4-para-list-contact;
        @include tablet {
          @include desktop-h4-para-comments;
        }
      }
    }
  }
}